#!/bin/sh
#
# This script is called with the following parameters:
# interface tty speed local-address remote-address ipparam
#

PPP_IFACE="$1"
[ -n "${PPP_IFACE}" ] || exit 0

# Kill the router advertisement daemon on this interface.

LOGGER="/usr/bin/logger -t ppp-script -p daemon"

RADVD_PIDFILE="/var/run/radvd.${PPP_IFACE}.pid"

if [ -e "${RADVD_PIDFILE}" ]; then
    PID=$(cat "${RADVD_PIDFILE}")
    ${LOGGER}.info "Found radvd PID file ${RADVD_PIDFILE} with PID ${PID}"
    if [ "$(ps -o comm= "${PID}")" = "radvd" ]; then
        ${LOGGER}.info "Killing radvd at ${PID}"
        kill "${PID}"
    fi
    rm -f "${RADVD_PIDFILE}"
fi

exit 0
